<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
]>
<root id="-1">
  <home id="1103" key="156f1933-e327-4dce-b665-110d62720d03" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-20T16:06:10" updateDate="2017-11-28T15:45:15" nodeName="Home" urlName="home" path="-1,1103" isDoc="" nodeType="1093" creatorName="rh" writerName="rh" writerID="0" template="1064" nodeTypeAlias="home" isPublished="true">
    <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Full Width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "macro",
                "embed",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "latestBlogposts",
                    "macroParamsDictionary": {
                      "numberOfPosts": "3",
                      "startNodeId": "umb://document/1cb33e0a400a49389547b05a35739b8b"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "cbb67dcf-dc82-700a-617f-84e754458e6a"
        }
      ]
    }
  ]
}]]></bodyText>
    <colorTheme>37</colorTheme>
    <HeroBackgroundImage><![CDATA[umb://media/3d758b1f24ec47b0a75c225b0444991b]]></HeroBackgroundImage>
    <sitename><![CDATA[Database speed comparer]]></sitename>
    <font>40</font>
    <footerCTACaption><![CDATA[Read All on the Blog]]></footerCTACaption>
    <footerAddress><![CDATA[Umbraco HQ - Unicorn Square - Haubergsvej 1 - 5000 Odense C - Denmark - +45 70 26 11 62]]></footerAddress>
    <FooterCtalink><![CDATA[umb://document/1cb33e0a400a49389547b05a35739b8b]]></FooterCtalink>
    <footerDescription><![CDATA[Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus suscipit tortor eget felis porttitor volutpat]]></footerDescription>
    <footerHeader><![CDATA[Umbraco Demo]]></footerHeader>
    <heroDescription><![CDATA[Moonfish, steelhead, lamprey southern flounder tadpole fish sculpin bigeye, blue-redstripe danio collared dogfish. Smalleye squaretail goldfish arowana butterflyfish pipefish wolf-herring jewel tetra, shiner; gibberfish red velvetfish. Thornyhead yellowfin pike threadsail ayu cutlassfish.]]></heroDescription>
    <HeroCtalink><![CDATA[umb://document/156f1933e3274dceb665110d62720d03]]></HeroCtalink>
    <heroCTACaption><![CDATA[Check our products]]></heroCTACaption>
    <heroHeader><![CDATA[Database speed comparer]]></heroHeader>
    <navigation><![CDATA[[
  {
    "caption": "Blog",
    "link": "/blog/",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Blog"
  },
  {
    "caption": "Lucene",
    "link": "/blog?alttemplate=bloglucene",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Lucene"
  },
  {
    "caption": "Mongo",
    "link": "/blog?alttemplate=blogmongo",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Mongo"
  },
  {
    "caption": "PetaPoco",
    "link": "/blog?alttemplate=blogsqlpetapoco",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "PetaPoco"
  },
  {
    "caption": "Comparison",
    "link": "/blog?alttemplate=lucenetest",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Comparison"
  }
]]]></navigation>
    <blog id="1122" key="1cb33e0a-400a-4938-9547-b05a35739b8b" parentID="1103" level="2" creatorID="0" sortOrder="3" createDate="2017-11-20T16:06:11" updateDate="2017-11-24T09:30:41" nodeName="Blog" urlName="blog" path="-1,1103,1122" isDoc="" nodeType="1095" creatorName="rh" writerName="rh" writerID="0" template="1060" nodeTypeAlias="blog" isPublished="true">
      <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      <pageTitle><![CDATA[Behind The Scenes]]></pageTitle>
      <umbracoNavihide>0</umbracoNavihide>
      <howManyPostsShouldBeShown><![CDATA[2]]></howManyPostsShouldBeShown>
      <blogpost id="1166" key="0e7bbafc-fb55-4a78-a448-628f031c6483" parentID="1122" level="3" creatorID="0" sortOrder="17" createDate="2017-11-24T09:39:47" updateDate="2017-11-24T09:42:45" nodeName="Navy Ends Search For 3 Missing Sailors In Philippine Sea" urlName="navy-ends-search-for-3-missing-sailors-in-philippine-sea" path="-1,1103,1122,1166" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[The two-way]]></categories>
        <excerpt><![CDATA["Our thoughts and prayers are with our lost shipmates and their families," said Rear Adm. Marc Dalton, Commander, Task Force 70, according to a U.S. Navy statement.]]></excerpt>
        <pageTitle><![CDATA[Navy Ends Search For 3 Missing Sailors In Philippine Sea]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1168" key="d02b6f36-2408-4e65-b58b-58e78eb5b757" parentID="1122" level="3" creatorID="0" sortOrder="18" createDate="2017-11-24T09:45:43" updateDate="2017-11-24T09:52:57" nodeName="Black Friday Sale" urlName="black-friday-sale" path="-1,1103,1122,1168" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Black Friday]]></categories>
        <excerpt><![CDATA[We here at TechCrunch love a good holiday sale as much as the next person — maybe even more. So, we’re jumping on the Black Friday bandwagon to offer an outstanding deal on Disrupt Berlin tickets. Today only, we’re going BOGO on Berlin. Yup, buy one general admission ticket to Disrupt Berlin today, and you’ll get a second general admission ticket for free.]]></excerpt>
        <pageTitle><![CDATA[Disrupt Berlin tickets are buy-one-get-one free for one day only]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1169" key="ed058933-6863-4e84-804a-7d9051b38752" parentID="1122" level="3" creatorID="0" sortOrder="19" createDate="2017-11-24T09:55:23" updateDate="2017-11-24T10:01:13" nodeName="Moto Z's Alexa Smart Speaker" urlName="moto-zs-alexa-smart-speaker" path="-1,1103,1122,1169" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Speakers]]></categories>
        <excerpt><![CDATA[The Moto Z is a phone built around a strong gimmick, but it’s a gimmick nonetheless. A little over a year after release, the company has added some interesting Mods to its selection, but none have offered an entirely compelling justification for the phone’s modular system. That certainly applies to the new Alexa Smart Speaker.]]></excerpt>
        <pageTitle><![CDATA[The Moto Z’s Alexa Smart Speaker is mostly useless]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1171" key="59b236cc-5ecc-4587-b521-aa62687da11e" parentID="1122" level="3" creatorID="0" sortOrder="20" createDate="2017-11-24T10:03:03" updateDate="2017-11-24T10:03:03" nodeName="Revolt banking" urlName="revolt-banking" path="-1,1103,1122,1171" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Startup]]></categories>
        <excerpt><![CDATA[Fintech startup Revolut has reached a big milestone. The company now has over a million customers across Europe two years and a half after launch. The company says that customers have saved $160 million in foreign exchange fees compared to a traditional bank account (£120 million).]]></excerpt>
        <pageTitle><![CDATA[Revolut now has a million customers for its banking alternative]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1172" key="7623bfc3-ed54-4cac-91ca-37043739bbc4" parentID="1122" level="3" creatorID="0" sortOrder="21" createDate="2017-11-24T10:05:47" updateDate="2017-11-24T10:05:47" nodeName="Athlete convicted of manslaughter" urlName="athlete-convicted-of-manslaughter" path="-1,1103,1122,1172" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[World]]></categories>
        <excerpt><![CDATA[The athlete was originally convicted of manslaughter and sentenced to five years in jail.]]></excerpt>
        <pageTitle><![CDATA[ South African Court More Than Doubles Oscar Pistorius Sentence]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1173" key="cbd9e1f6-ad8c-4a52-ae8e-1e119d0ac461" parentID="1122" level="3" creatorID="0" sortOrder="22" createDate="2017-11-24T10:06:32" updateDate="2017-11-24T10:06:32" nodeName="Russia wanted Trump" urlName="russia-wanted-trump" path="-1,1103,1122,1173" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Politics]]></categories>
        <excerpt><![CDATA[Despite a year of his denials, the evidence of collusion between Trump’s campaign and Russia is looking clearer.]]></excerpt>
        <pageTitle><![CDATA[Russia Wanted Trump As President And It Got Him. Now What Does America Do?]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1174" key="64316091-3c9e-44e2-9244-20c92734387a" parentID="1122" level="3" creatorID="0" sortOrder="23" createDate="2017-11-24T10:07:15" updateDate="2017-11-24T10:07:15" nodeName="Trudeau praise new neutrality" urlName="trudeau-praise-new-neutrality" path="-1,1103,1122,1174" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Tech]]></categories>
        <excerpt><![CDATA[Scrapping current regulations “does not make sense," the Canadian prime minister said Wednesday.]]></excerpt>
        <pageTitle><![CDATA[ Trudeau, Other World Leaders Praise Net Neutrality Ahead Of FCC’s Planned Repeal]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1175" key="1214f150-1a05-432e-8d6f-9798da711c5d" parentID="1122" level="3" creatorID="0" sortOrder="24" createDate="2017-11-24T10:08:10" updateDate="2017-11-24T10:13:48" nodeName="Syrians are eating trash" urlName="syrians-are-eating-trash" path="-1,1103,1122,1175" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[World,News]]></categories>
        <excerpt><![CDATA[Children are dying of starvation in the rebel-held region of eastern Ghouta.]]></excerpt>
        <pageTitle><![CDATA[Besieged Syrians Are Eating Trash To Survive]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1176" key="06ef3092-e5bc-4838-8a64-2ddda22a42ca" parentID="1122" level="3" creatorID="0" sortOrder="25" createDate="2017-11-24T10:09:46" updateDate="2017-11-24T10:09:46" nodeName="New show host" urlName="new-show-host" path="-1,1103,1122,1176" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Entertainment]]></categories>
        <excerpt><![CDATA[He will follow Jimmy Fallon, who most recently hosted the show.]]></excerpt>
        <pageTitle><![CDATA[ Seth Meyers To Host 2018 Golden Globe Awards]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1177" key="f655dddf-5caf-4637-9dcb-0a5acd22780f" parentID="1122" level="3" creatorID="0" sortOrder="26" createDate="2017-11-24T10:10:21" updateDate="2017-11-24T10:10:21" nodeName="Baltimore detective killed" urlName="baltimore-detective-killed" path="-1,1103,1122,1177" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Crime]]></categories>
        <excerpt><![CDATA[Baltimore's police commissioner says the evidence suggests Sean Suiter's death was not related to his testimony.]]></excerpt>
        <pageTitle><![CDATA[ Baltimore Detective Killed Before Testifying In Federal Case Against Fellow Cops]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1178" key="9fb81b16-03aa-49f3-a991-89ce3cd147d6" parentID="1122" level="3" creatorID="0" sortOrder="27" createDate="2017-11-24T10:11:38" updateDate="2017-11-24T10:11:38" nodeName="Mugabe new president?" urlName="mugabe-new-president" path="-1,1103,1122,1178" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[World,News]]></categories>
        <excerpt><![CDATA[“The people have spoken. The voice of the people is the voice of God,” he told thousands of supporters.]]></excerpt>
        <pageTitle><![CDATA[ Former Mugabe Deputy Mnangagwa To Be Sworn In As President]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1179" key="c7a54d1f-b9d3-4ed7-af9d-407747a1093d" parentID="1122" level="3" creatorID="0" sortOrder="28" createDate="2017-11-24T10:12:43" updateDate="2017-11-24T10:12:43" nodeName="Franken touches women" urlName="franken-touches-women" path="-1,1103,1122,1179" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Politics,News]]></categories>
        <excerpt><![CDATA[One woman told us that Franken had grabbed her backside at an event honoring women.]]></excerpt>
        <pageTitle><![CDATA[ Two More Women Say Sen. Al Franken Inappropriately Touched Them]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1180" key="f06227e9-e2d3-4c8b-92df-3fc3590ed863" parentID="1122" level="3" creatorID="0" sortOrder="29" createDate="2017-11-24T10:13:34" updateDate="2017-11-24T10:13:34" nodeName="Black Friday Strike" urlName="black-friday-strike" path="-1,1103,1122,1180" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Business,News,Black Friday]]></categories>
        <excerpt><![CDATA[The walkout threatens profits on one of the biggest shopping days of the year.]]></excerpt>
        <pageTitle><![CDATA[Hundreds Of Europe’s Amazon Workers Plan Black Friday Strike]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1181" key="6c1f1545-270f-4585-ad98-e734d0732668" parentID="1122" level="3" creatorID="0" sortOrder="30" createDate="2017-11-24T10:18:25" updateDate="2017-11-24T10:18:29" nodeName="Search for sailors ends" urlName="search-for-sailors-ends" path="-1,1103,1122,1181" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Crime,News]]></categories>
        <excerpt><![CDATA[Crash may have been linked to engine trouble.]]></excerpt>
        <pageTitle><![CDATA[ U.S. Navy Ends Search For Three Sailors Missing In Philippines Air Crash]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1182" key="f735ae31-9951-4568-9fc0-09804c5b734b" parentID="1122" level="3" creatorID="0" sortOrder="31" createDate="2017-11-24T10:19:12" updateDate="2017-11-24T10:19:12" nodeName="Thanksgiving for hurricane victims" urlName="thanksgiving-for-hurricane-victims" path="-1,1103,1122,1182" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Impact,News]]></categories>
        <excerpt><![CDATA[Many of those still displaced by Harvey, Irma and Maria will celebrate the holiday together.]]></excerpt>
        <pageTitle><![CDATA[What Thanksgiving Is Like For This Summer’s Hurricane Victims]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1183" key="093a2053-f9cc-4201-8f48-e7b401918465" parentID="1122" level="3" creatorID="0" sortOrder="32" createDate="2017-11-24T10:21:43" updateDate="2017-11-24T10:21:43" nodeName="Trump half frightened by black people" urlName="trump-half-frightened-by-black-people" path="-1,1103,1122,1183" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Politics,News]]></categories>
        <excerpt><![CDATA["His only way of dealing with them is to attack them," said Tony Schwartz.]]></excerpt>
        <pageTitle><![CDATA[ ‘Art Of The Deal’ Writer: Trump ‘Half Awed And Half Frightened’ By Black People]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1184" key="0ef2768a-6f6f-482c-bdfa-c732275adce8" parentID="1122" level="3" creatorID="0" sortOrder="33" createDate="2017-11-24T10:28:26" updateDate="2017-11-24T10:28:26" nodeName="Walkable and bikeable cities" urlName="walkable-and-bikeable-cities" path="-1,1103,1122,1184" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Corporate responsibility]]></categories>
        <excerpt><![CDATA[This year, take a side in the war on the car, and support stores on your neighborhood bike lane or transit route.]]></excerpt>
        <pageTitle><![CDATA[If you support walkable and bikeable cities, then support Small Business Saturday]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1185" key="d2890a74-6831-4d16-ba8d-068c57590c94" parentID="1122" level="3" creatorID="0" sortOrder="34" createDate="2017-11-24T10:29:01" updateDate="2017-11-24T10:29:01" nodeName="Too many tote bags" urlName="too-many-tote-bags" path="-1,1103,1122,1185" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Green home]]></categories>
        <excerpt><![CDATA[Reusable shopping bags were a great idea -- until we all started drowning in them.]]></excerpt>
        <pageTitle><![CDATA[The problem with too many tote bags]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1186" key="f4cb40ee-8426-411f-bdd8-a6cf968dc9a6" parentID="1122" level="3" creatorID="0" sortOrder="35" createDate="2017-11-24T10:30:03" updateDate="2017-11-24T10:30:03" nodeName="Block oil pipeline" urlName="block-oil-pipeline" path="-1,1103,1122,1186" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Tiny houses]]></categories>
        <excerpt><![CDATA[These are tiny homes with an activist bent, taking a stand against the incursion of a pipeline that could contaminate indigenous lands.]]></excerpt>
        <pageTitle><![CDATA[Tiny House Warriors building tiny homes to block construction of oil pipeline]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1187" key="251349d6-cf05-4ebf-8a8b-ca1792f94c76" parentID="1122" level="3" creatorID="0" sortOrder="36" createDate="2017-11-24T10:30:49" updateDate="2017-11-24T10:30:49" nodeName="Count your blessings" urlName="count-your-blessings" path="-1,1103,1122,1187" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Culture]]></categories>
        <excerpt><![CDATA[Cultivating an attitude of gratitude will make you a better person in many ways.]]></excerpt>
        <pageTitle><![CDATA[Count your blessings this Thanksgiving]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1188" key="65eea632-c900-4eb9-b3d1-6bf8bc61c787" parentID="1122" level="3" creatorID="0" sortOrder="37" createDate="2017-11-24T10:31:41" updateDate="2017-11-24T10:31:41" nodeName="Tesla kills the duck ahead of schedule" urlName="tesla-kills-the-duck-ahead-of-schedule" path="-1,1103,1122,1188" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Clean technology]]></categories>
        <excerpt><![CDATA[His giant bet on a giant battery pays off.]]></excerpt>
        <pageTitle><![CDATA[Tesla kills the duck in Australia 45 days ahead of schedule]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1189" key="71f3e8ad-418d-4875-bbfb-75fe94bea3db" parentID="1122" level="3" creatorID="0" sortOrder="38" createDate="2017-11-24T10:32:43" updateDate="2017-11-24T10:32:43" nodeName="Thanksgiving leftovers" urlName="thanksgiving-leftovers" path="-1,1103,1122,1189" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Culture,Thanksgiving]]></categories>
        <excerpt><![CDATA[Gather round the holiday vegetable loaf and hear of Thanksgivings past]]></excerpt>
        <pageTitle><![CDATA[Thanksgiving leftovers: A roundup of past Thanksgiving Day stories]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1190" key="4c4a6997-e867-401c-8ffc-1a7802ad489b" parentID="1122" level="3" creatorID="0" sortOrder="39" createDate="2017-11-24T10:33:20" updateDate="2017-11-24T10:33:20" nodeName="BMW proposes elevated e-bike cycleways" urlName="bmw-proposes-elevated-e-bike-cycleways" path="-1,1103,1122,1190" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Bikes]]></categories>
        <excerpt><![CDATA[Instead of banning cars from city centers, this automaker recommends elevated roads for electric bikes & scooters to ease congestion and emissions.]]></excerpt>
        <pageTitle><![CDATA[BMW proposes elevated e-bike cycleways to ease congestion & speed commutes]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1191" key="a533e4d3-87f9-4924-a979-790aedaa6712" parentID="1122" level="3" creatorID="0" sortOrder="40" createDate="2017-11-24T10:34:00" updateDate="2017-11-24T10:34:00" nodeName="3D printed modular units for the homeless" urlName="3d-printed-modular-units-for-the-homeless" path="-1,1103,1122,1191" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Urban design]]></categories>
        <excerpt><![CDATA[This project proposes bringing back the single-room occupancy unit, but built vertically up on New York City's walls.]]></excerpt>
        <pageTitle><![CDATA[3D printed modular units for the homeless would use under-utilized vertical walls]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1192" key="cf1375c3-d68b-48d2-87d6-675e98e83f6d" parentID="1122" level="3" creatorID="0" sortOrder="41" createDate="2017-11-24T10:34:39" updateDate="2017-11-24T10:34:39" nodeName="It's not just self-driving cars" urlName="its-not-just-self-driving-cars" path="-1,1103,1122,1192" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Urban design]]></categories>
        <excerpt><![CDATA[A new study looks at how AVs are part of a much bigger picture of how we get around.]]></excerpt>
        <pageTitle><![CDATA[It's not just self-driving cars, it is a whole New Mobility Now]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1193" key="7f3dd0c9-df9a-4791-8d34-27a5cd64e82f" parentID="1122" level="3" creatorID="0" sortOrder="42" createDate="2017-11-24T10:35:06" updateDate="2017-11-24T10:35:06" nodeName="Don't worry about perfection" urlName="dont-worry-about-perfection" path="-1,1103,1122,1193" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Green home]]></categories>
        <excerpt><![CDATA[Zero waste expert Lindsay Miles tells people to start wherever they can, that actions are like ripples in the fight against plastic packaging.]]></excerpt>
        <pageTitle><![CDATA[Don't worry about perfection when it comes to zero waste]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1194" key="0c3671ac-4427-48b1-9896-fd76ac9ee1aa" parentID="1122" level="3" creatorID="0" sortOrder="43" createDate="2017-11-24T10:35:44" updateDate="2017-11-24T10:35:44" nodeName="Turning plants into stealth environmental sensors" urlName="turning-plants-into-stealth-environmental-sensors" path="-1,1103,1122,1194" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Clean technology]]></categories>
        <excerpt><![CDATA[Using the plant's natural defense mechanisms, the agency is working to develop spies in the natural world.]]></excerpt>
        <pageTitle><![CDATA[DARPA turning plants into stealth environmental sensors]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1195" key="8fdb2f52-9392-4898-832d-7ed94d0dd9c8" parentID="1122" level="3" creatorID="0" sortOrder="44" createDate="2017-11-24T10:36:46" updateDate="2017-11-24T10:36:46" nodeName="The electric house 1905-style" urlName="the-electric-house-1905-style" path="-1,1103,1122,1195" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Green architecture]]></categories>
        <excerpt><![CDATA[It sounds much like the smart home of today.]]></excerpt>
        <pageTitle><![CDATA[The electric house of the future was built in 1905]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
      <blogpost id="1196" key="d95ef294-9450-4063-81cf-c0d6252ddaba" parentID="1122" level="3" creatorID="0" sortOrder="45" createDate="2017-11-24T10:37:25" updateDate="2017-11-24T10:37:25" nodeName="Black Friday is losing appeal for US shoppers" urlName="black-friday-is-losing-appeal-for-us-shoppers" path="-1,1103,1122,1196" isDoc="" nodeType="1096" creatorName="rh" writerName="rh" writerID="0" template="1061" nodeTypeAlias="blogpost" isPublished="true">
        <umbracoNavihide>0</umbracoNavihide>
        <categories><![CDATA[Culture,Black Friday]]></categories>
        <excerpt><![CDATA[Consumerism is still ingrained, which is why we need to fight back with the 'Buy Nothing' movement.]]></excerpt>
        <pageTitle><![CDATA[Black Friday is losing appeal for US shoppers, but it's not as good as it sounds]]></pageTitle>
        <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></bodyText>
      </blogpost>
    </blog>
  </home>
</root>